<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Layout</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
</head>
<body>
<!--
  Bootstrap docs: https://getbootstrap.com/docs
-->

<div class="container">
    <div class="row">
        <div class="col">
            A
        </div>
        <div class="col">
            B
        </div>
        <div class="col">
            C
        </div>
    </div>
    <div class="row">
        <div class="col-2 perkele">
            D
        </div>
        <div class="col-10 perkele">
            E
        </div>
    </div>
    <div class="row">
        <div class="col-10 perkele">
            F
        </div>
        <div class="col-2 perkele">
            G
        </div>
    </div>
    <div class="row">
        <div class="col-2 perkele">
            H
        </div>
        <div class="col-4 perkele">
            I
        </div>
        <div class="col-4 perkele">
            J
        </div>
        <div class="col-2 perkele">
            K
        </div>
    </div>
</div>
</body>
</html>
